@import "tailwindcss";


@theme {
  --color-ighub-green: #89be2b;
  --color-ighub-orange: #fc561b;
  --color-ighub-purple: #27286e;
  --color-ighub-black: #0c0e10;
  --color-ighub-light: #f8f8f8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--color-ighub-light);
  /* color: var(--color-ighub-black); */
  font-family: var(--font-montserrat);
}